button {
  height: 30px;
  width: 100px;
/*outline: none;*/
/*margin: 4px;*/
margin: 4px 0 4px 0;
/*border: none;*/
/*border-radius: 2px;*/
}

.image-button {
  /*padding: 0;*/
  width: 24px;
  height: 24px;
  /*margin-right: 16px;*/
  /*background-color: rgba(255, 255, 255, 0.13);*/
  /*opacity: 0.5;*/
  /*border: 0;*/
  /*cursor: pointer;*/
  /*border-radius: 50%;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*transition: 0.3s ease opacity;*/
}