body {
    background-color: whitesmoke;
    font-size: 1.0rem;
}

.sub_section {
    padding-top: 12px;
}

.settings-header {
    color: dimgrey;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 24px;
}

.settings-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-sections {
    background-color: white;
    width: 50%;
    min-width: 600px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
}

.setting-section {
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 24px;
}

.setting-row-title {
    color: dimgrey;
    padding-top: 12px;
    padding-bottom: 8px;
    width: 100%;
    font-weight: bolder;
}

.setting-row-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-action-button {
    width: 200px;
}

#history_list {
    height: 300px;
    margin-top: 8px;
    overflow-y: scroll;
    font-size: smaller;
}
